@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';
body {
  margin: 2rem 3rem;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

a {
      color: #3e3e3e;
}

.left {
  float:left;
}

.right {
  float:right;
}

.vert-align {
  vertical-align: middle;
  line-height: 30px;
}

.navbar-right {
    margin-right: 0px;
}

.black-nav-link {
  color: #fff !important;
  background-color: #3e3e3e !important;
  padding: 15px 30px !important;
}

.black-nav-link:hover {
    background-color: #000000 !important;
}

.margin-left-15 {
  margin-left: 15px;
}

.panel-black {
      border-color: #dddddd;
      border-radius: 0;
}

.panel-black > .panel-heading {
  background-color: #3e3e3e;
  color: #fff;
  border-radius: 0;
}

.panel-black > .panel-body {
    border-radius: 0;
    padding: 30px;
}


.user-auth {
  line-height: 40px;
  vertical-align: middle;
  font-size: 1.1em;
}

.user-auth a {
  text-decoration: underline;
}
.table-black {
margin-top: 0px;
}
.table-black th, .table-black td {
  text-align: center;
  font-size: 0.8em;
}
.table-black th {
      background-color: #3e3e3e;
      color:#ffffff;
      font-weight: 400;
      text-decoration: underline;
}

.black-tabs li a {
  border-radius: 0;
}

.black-tabs li a:hover {
  color: #fff !important;
  background-color: #000000 !important;
}

.black-tabs li.active a {
  color: #fff;
  background-color: #3e3e3e;
}

.footer {
  text-align: center;
  color: #d0d0d0;
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
}
