<div class="user-auth text-right">
    Welcome Semchenko Viacheslav | <a (click)="getWindow($event)" href="">Logout</a>
</div>

<p-dialog header="Logout from the app" [(visible)]="display" modal="modal" [(draggable)]="draggable" [(resizable)]="resizable" showEffect="fade">
    <p>Do you want to quit?</p>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" class="btn btn-default" (click)="display=false">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="closeTab()">OK</button>
        </div>
    </footer>
</p-dialog>
