<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li class="active"><a class="black-nav-link" href="#">Номе <span class="sr-only">(current)</span></a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" [ngClass]="{open: dropdown}">
            <a (click)="isOpen()" href="#" class="dropdown-toggle black-nav-link black-dropdown">Menu <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a (click)="isActivate($event)" href="#">NBN ISP Report</a></li>
                <li><a href="#">DSL ISP Report</a></li>
                <li><a href="#">Configuration</a></li>
            </ul>
        </li>
        <li><a class="black-nav-link margin-left-15" href="#">Back</a></li>

    </ul>
</nav>

<p-dialog header="Confim message" [(visible)]="display" modal="modal" [(draggable)]="draggable" [(resizable)]="resizable" showEffect="fade">
    <p>{{item}} has been activated!</p>

</p-dialog>
